#main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  margin-right: 0.5rem;
}

.logo-type {
  font-size: 1.4rem;
  font-weight: 900;
  color: #7159c1;
}

#main-container form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

#main-container form input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  font-size: 1rem;
  text-align: center;
  padding: 0 1.25rem;
  margin-top: 1.875rem;
}

#main-container form button {
  height: 48px;
  background: #7159c1;
  border: 0;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fafafa;
  padding: 0 1.25rem;
  margin-top: 0.8rem;
  cursor: pointer;
}

#main-container form button:hover {
  opacity: 0.8;
}
